<div *ngFor="let blog of blogs | async">
  <!--<div [innerHTML]="blog.content" style="white-space: pre-wrap;"></div>-->
  <mat-card class="blog-card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{ blog.title }}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <markdown [data]="blog.content"></markdown>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d914.335299575082!2d80.0296716!3d12.8201665!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52f7aa1863b0d9%3A0x4a360dea3f332d8!2sACE%20Clinic%20-%20Dr.%20Arul&#39;s%20Counseling%20and%20Empowerment!5e1!3m2!1sen!2sus!4v1629400684796!5m2!1sen!2sus"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </mat-card-content>
  </mat-card>
</div>
