<div *ngFor="let blog of blogs | async">
    <!--<div [innerHTML]="blog.content" style="white-space: pre-wrap;"></div>-->
    <mat-card class="blog-card">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{ blog.title }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <markdown [data]="blog.content"></markdown>

        <iframe src="https://goo.gl/maps/MiAZGEuRnocPBdVw6" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </mat-card-content>
    </mat-card>

    
  </div>
